---
swagger: "2.0"
info:
  description: "Email API and SMTP relay to not just send and measure email sending,\
    \ but also alert and optimise. We provide you with tools, expertise and support\
    \ needed to reliably deliver emails to your customers inboxes on time, every time."
  version: "1.0.0"
  title: "SendPost API"
  termsOfService: "http://sendpost.io/terms-of-service"
  contact:
    email: "hello@sendpost.io"
host: "api.sendpost.io"
basePath: "/api/v1"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /account/alert/:
    get:
      tags:
      - "account/alert"
      description: "Get All Alerts"
      operationId: "AlertRouter.GetAll"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "offset"
        in: "query"
        description: "offset"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "search"
        in: "query"
        description: "search term"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved all alerts for account successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.DetailedAlert"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
    post:
      tags:
      - "account/alert"
      description: "create an alert"
      operationId: "AlertRouter.Create alert"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - in: "body"
        name: "body"
        description: "The List to br sent"
        required: true
        schema:
          $ref: "#/definitions/models.AlertRequest"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Alert Created Successfully\""
          schema:
            $ref: "#/definitions/models.AlertResponse"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/alert/{alertId}:
    put:
      tags:
      - "account/alert"
      description: "Update an Alert"
      operationId: "AlertRouter.Update"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "alertId"
        in: "path"
        description: "The alert you want to update"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AlertId"
      - in: "body"
        name: "body"
        description: "The alert  Settings"
        required: true
        schema:
          $ref: "#/definitions/models.EAlert"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"alert updated successfully\""
          schema:
            $ref: "#/definitions/.alert"
        "401":
          description: "Not Authorized"
        "406":
          description: ":alert is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    delete:
      tags:
      - "account/alert"
      description: "Delete Alert"
      operationId: "AlertRouter.Delete"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "alertId"
        in: "path"
        description: "The AlertId you want to delete"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AlertId"
      responses:
        "200":
          description: "\"Alert deleted successfully\""
          schema:
            $ref: "#/definitions/models.DeleteResponse"
        "401":
          description: "Not Authorized"
        "406":
          description: ":alertId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/alert/count:
    get:
      tags:
      - "account/alert"
      description: "Count Total Alerts for account"
      operationId: "AlertRouter.Count"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "search"
        in: "query"
        description: "search term"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Total count of ips for a specific account\""
          schema:
            $ref: "#/definitions/models.CountStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/domain/:
    get:
      tags:
      - "account/domain"
      description: "Get All Domains"
      operationId: "AccountDomainRouter.GetAll"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "offset"
        in: "query"
        description: "offset"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "search"
        in: "query"
        description: "search term"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved all domains for account successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.AccountDomain"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/domain/count:
    get:
      tags:
      - "account/domain"
      description: "Count Total Account Domains"
      operationId: "AccountDomainRouter.Count"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Sub-Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "search"
        in: "query"
        description: "search term"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Total count of domains for a specific account\""
          schema:
            $ref: "#/definitions/models.CountStat"
        "401":
          description: "Not Authorized"
        "404":
          description: "Domain not found"
        "500":
          description: "Internal Server Error"
  /account/domainReport/reputation:
    get:
      tags:
      - "account/domainReport"
      description: "get reputation of domain"
      operationId: "DomainReportRouter.Reputation"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ip"
        in: "query"
        description: "ip"
        required: false
        type: "string"
        x-exportParamName: "Ip"
        x-optionalDataType: "String"
      - name: "host"
        in: "query"
        description: "host"
        required: false
        type: "string"
        x-exportParamName: "Host"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Total count of ips for a specific account\""
          schema:
            $ref: "#/definitions/models.DomainCheckResult"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/domainStat/{domainName}/aggregate:
    get:
      tags:
      - "account/domainStat"
      description: "Get All Aggregate Stats"
      operationId: "DomainStatRouter.Get stats for a single domain Stats"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "domainName"
        in: "path"
        description: "the IPId you want to get"
        required: true
        type: "string"
        x-exportParamName: "DomainName"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved Stats successfully\""
          schema:
            $ref: "#/definitions/models.Stat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/domainStat/{domainName}/aggregate/provider:
    get:
      tags:
      - "account/domainStat"
      description: "Get All Aggregate Stats by Group"
      operationId: "DomainStatRouter.Get All Aggregate domain Stats by Group"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "domainName"
        in: "path"
        description: "the domainName you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "DomainName"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      - name: "provider"
        in: "query"
        description: "the group whose stats you want"
        required: true
        type: "string"
        x-exportParamName: "Provider"
      responses:
        "200":
          description: "\"Retrieved Stats successfully\""
          schema:
            $ref: "#/definitions/models.Stat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/event/:
    get:
      tags:
      - "account/event"
      description: "Find all events from a account for a given time-range"
      operationId: "EventRouter.Get all events from a account for a given time-range"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "offset"
        in: "query"
        description: "offset"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "search"
        in: "query"
        description: "search term"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      - name: "type"
        in: "query"
        description: "search type"
        required: false
        type: "string"
        x-exportParamName: "Type_"
        x-optionalDataType: "String"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      - name: "source"
        in: "query"
        description: "data source from which to get timestamp keys subaccount or ip"
        required: false
        type: "string"
        x-exportParamName: "Source"
        x-optionalDataType: "String"
      - name: "sourceId"
        in: "query"
        description: "source id from which to get timestamp keys subaccount or ip"
        required: false
        type: "string"
        x-exportParamName: "SourceId"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved All events in a given timeframe\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.QEvent"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/event/{eventId}:
    get:
      tags:
      - "account/event"
      description: "Find Event By Id"
      operationId: "EventRouter.Get"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "eventId"
        in: "path"
        description: "the eventId that you want to retrieve"
        required: true
        type: "string"
        x-exportParamName: "EventId"
      responses:
        "200":
          description: "\"Retrieved Event from eventId successfully\""
          schema:
            $ref: "#/definitions/models.QEvent"
        "401":
          description: "Not Authorized"
        "406":
          description: ":eventId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/event/count:
    get:
      tags:
      - "account/event"
      description: "Count all events from a account for a given time-range"
      operationId: "EventRouter.Count all events from a account for a given time-range"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "search"
        in: "query"
        description: "search term"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      - name: "type"
        in: "query"
        description: "search type"
        required: false
        type: "string"
        x-exportParamName: "Type_"
        x-optionalDataType: "String"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      - name: "source"
        in: "query"
        description: "data source from which to get timestamp keys subaccount or ip"
        required: false
        type: "string"
        x-exportParamName: "Source"
        x-optionalDataType: "String"
      - name: "sourceId"
        in: "query"
        description: "source id from which to get timestamp keys subaccount or ip"
        required: false
        type: "string"
        x-exportParamName: "SourceId"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Find count of all events of a sub-account\""
          schema:
            $ref: "#/definitions/models.CountStat"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/event/node:
    post:
      tags:
      - "account/event"
      description: "Find all events of a account from a specific node"
      operationId: "EventRouter.Get all events of a account from a specific node"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      responses:
        "200":
          description: "\"Retrieved event from eventId from a specific node successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.QEvent"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/event/node/{eventId}:
    get:
      tags:
      - "account/event"
      description: "Find Event From Node by id"
      operationId: "EventRouter.Get Event In Node"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "eventId"
        in: "path"
        description: "the eventId that you want to retrieve"
        required: true
        type: "string"
        x-exportParamName: "EventId"
      responses:
        "200":
          description: "\"Retrieved event from eventId from a specific node successfully\""
          schema:
            $ref: "#/definitions/models.QEvent"
        "401":
          description: "Not Authorized"
        "406":
          description: ":eventId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/event/node/count:
    get:
      tags:
      - "account/event"
      description: "Count all events from a node of a sub-account for a given time-range"
      operationId: "EventRouter.Count all events from a node of a sub-account for\
        \ a given time-range"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "search"
        in: "query"
        description: "search term"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      - name: "type"
        in: "query"
        description: "search type"
        required: false
        type: "string"
        x-exportParamName: "Type_"
        x-optionalDataType: "String"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      - name: "source"
        in: "query"
        description: "data source from which to get timestamp keys subaccount or ip"
        required: false
        type: "string"
        x-exportParamName: "Source"
        x-optionalDataType: "String"
      - name: "sourceId"
        in: "query"
        description: "source id from which to get timestamp keys subaccount or ip"
        required: false
        type: "string"
        x-exportParamName: "SourceId"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Find count of all events of a sub-account from a specific\
            \ node\""
          schema:
            $ref: "#/definitions/models.CountStat"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/event/node/eventType:
    get:
      tags:
      - "account/event"
      description: "Find all events from a account for a given time-range"
      operationId: "EventRouter.Get all events from an account which has only proccessed"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "offset"
        in: "query"
        description: "offset"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "type"
        in: "query"
        description: "search type"
        required: false
        type: "string"
        x-exportParamName: "Type_"
        x-optionalDataType: "String"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      - name: "filterEvent"
        in: "query"
        description: "filter event types"
        required: false
        type: "string"
        x-exportParamName: "FilterEvent"
        x-optionalDataType: "String"
      - name: "source"
        in: "query"
        description: "data source from which to get timestamp keys subaccount or ip"
        required: false
        type: "string"
        x-exportParamName: "Source"
        x-optionalDataType: "String"
      - name: "sourceId"
        in: "query"
        description: "source id from which to get timestamp keys subaccount or ip"
        required: false
        type: "string"
        x-exportParamName: "SourceId"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved All events in a given timeframe\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.QEvent"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/event/node/timestampkeys:
    get:
      tags:
      - "account/event"
      description: "Find all events of a sub-account from a specific node for a give\
        \ time-range"
      operationId: "EventRouter.Get all event timestamp keys of a sub-account from\
        \ a specific node for a given time-range"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "search"
        in: "query"
        description: "search term"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      - name: "type"
        in: "query"
        description: "search type"
        required: false
        type: "string"
        x-exportParamName: "Type_"
        x-optionalDataType: "String"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      - name: "source"
        in: "query"
        description: "data source from which to get timestamp keys subaccount or ip"
        required: false
        type: "string"
        x-exportParamName: "Source"
        x-optionalDataType: "String"
      - name: "sourceId"
        in: "query"
        description: "source id from which to get timestamp keys subaccount or ip"
        required: false
        type: "string"
        x-exportParamName: "SourceId"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved event from eventId from a specific node successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.QEvent"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/incident/:
    get:
      tags:
      - "account/incident"
      description: "Get All Incidents"
      operationId: "IncidentRouter.GetAll"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "offset"
        in: "query"
        description: "offset"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "search"
        in: "query"
        description: "search term"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      - name: "status"
        in: "query"
        description: "status"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Status"
        x-optionalDataType: "Int64"
      - name: "tag"
        in: "query"
        description: "status"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Tag"
        x-optionalDataType: "Int64"
      responses:
        "200":
          description: "\"Retrieved all incidents for account successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.Incident"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
    post:
      tags:
      - "account/incident"
      description: "Create Incident"
      operationId: "IncidentRouter.Create"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - in: "body"
        name: "body"
        description: "The Incident content"
        required: true
        schema:
          $ref: "#/definitions/models.EIncident"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Incident Created Successfully\""
          schema:
            $ref: "#/definitions/models.Incident"
        "401":
          description: "Not Authorized"
        "404":
          description: "Any Related Entity if not found"
        "406":
          description: "Not Acceptable (Empty Incident Summary)"
        "422":
          description: "Unprocessable entity bad json, no authorId, not related to\
            \ anything"
        "500":
          description: "Internal Server Error"
  /account/incident/{incidentId}:
    get:
      tags:
      - "account/incident"
      description: "Find Incident by incidentId"
      operationId: "IncidentRouter.GetIncident"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "incidentId"
        in: "path"
        description: "the IncidentId you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "IncidentId"
      responses:
        "200":
          description: "\"Retrieved Incident from incidentId successfully\""
          schema:
            $ref: "#/definitions/models.Incident"
        "401":
          description: "Not Authorized"
        "406":
          description: ":incidentId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    put:
      tags:
      - "account/incident"
      description: "Update Incident"
      operationId: "IncidentRouter.Update"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "incidentId"
        in: "path"
        description: "the Incident Id you want to update"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "IncidentId"
      - in: "body"
        name: "body"
        description: "The Incident content"
        required: true
        schema:
          $ref: "#/definitions/models.EIncident"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Incident Updated Successfully\""
          schema:
            $ref: "#/definitions/models.Incident"
        "401":
          description: "Not Authorized"
        "406":
          description: "Not Acceptable (Empty Incident Summary)"
        "422":
          description: "Unprocessable entity bad json, no authorId, not related to\
            \ anything"
        "500":
          description: "Internal Server Error"
  /account/incident/{incidentId}/comment:
    get:
      tags:
      - "account/incident"
      description: "Get All Comments Associated with Incident"
      operationId: "IncidentRouter.GetAllComments"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "incidentId"
        in: "path"
        description: "the IncidentId you want to get comments for"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "IncidentId"
      responses:
        "200":
          description: "\"Retrieved all comments for incident successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.Comment"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
    post:
      tags:
      - "account/incident"
      description: "Add comment to Incident"
      operationId: "IncidentRouter.Add"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "incidentId"
        in: "path"
        description: "the incident id"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "IncidentId"
      - in: "body"
        name: "body"
        description: "The Comment content"
        required: true
        schema:
          $ref: "#/definitions/models.EComment"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Comment Added Successfully\""
          schema:
            $ref: "#/definitions/models.Comment"
        "401":
          description: "Not Authorized"
        "406":
          description: "Not Acceptable (Empty Comment Content)"
        "422":
          description: "Unprocessable entity bad json"
        "500":
          description: "Internal Server Error"
  /account/incident/count:
    get:
      tags:
      - "account/incident"
      description: "Count Total Incidents"
      operationId: "IncidentRouter.Count"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "status"
        in: "query"
        description: "status"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Status"
        x-optionalDataType: "Int64"
      - name: "tag"
        in: "query"
        description: "status"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Tag"
        x-optionalDataType: "Int64"
      - name: "search"
        in: "query"
        description: "search term"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Total count of incidents for a specific account\""
          schema:
            $ref: "#/definitions/models.CountStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/integration/:
    get:
      tags:
      - "account/integration"
      description: "Get All Integrations"
      operationId: "AccountIntegrationRouter.GetAll"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      responses:
        "200":
          description: "\"Retrieved all integrations for account successful\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.Integration"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/integration/{itype}:
    post:
      tags:
      - "account/integration"
      description: "Create Integration"
      operationId: "AccountIntegrationRouter.Create"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "itype"
        in: "path"
        description: "The integration type you want to create"
        required: true
        type: "string"
        x-exportParamName: "Itype"
      - in: "body"
        name: "body"
        description: "The Integration content"
        required: true
        schema:
          $ref: "#/definitions/models.EIntegration"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Integration Created Successfully\""
          schema:
            $ref: "#/definitions/models.Integration"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    put:
      tags:
      - "account/integration"
      description: "Update Integration"
      operationId: "AccountIntegrationRouter.Update"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "itype"
        in: "path"
        description: "The integration type you want to update"
        required: true
        type: "string"
        x-exportParamName: "Itype"
      - in: "body"
        name: "body"
        description: "The Integration content"
        required: true
        schema:
          $ref: "#/definitions/models.EIntegration"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Integration updated successfully\""
          schema:
            $ref: "#/definitions/models.Integration"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    delete:
      tags:
      - "account/integration"
      description: "Delete Integration"
      operationId: "AccountIntegrationRouter.Delete"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "itype"
        in: "path"
        description: "The integration type you want to update"
        required: true
        type: "string"
        x-exportParamName: "Itype"
      responses:
        "200":
          description: "\"Integration deleted successfully\""
          schema:
            $ref: "#/definitions/models.DeleteResponse"
        "401":
          description: "Not Authorized"
        "404":
          description: "Integration Not Found"
        "500":
          description: "Internal Server Error"
  /account/integration/count:
    get:
      tags:
      - "account/integration"
      description: "Count Total AccountIntegrations"
      operationId: "AccountIntegrationRouter.Count"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      responses:
        "200":
          description: "\"Total count of integrations for a specific account\""
          schema:
            $ref: "#/definitions/models.CountStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/integration/glockapps/monitor/{ipid}:
    post:
      tags:
      - "account/integration"
      description: "Enable IP Monitoring for a single IP"
      operationId: "AccountIntegrationRouter.EnableGlockappsIPMonitoring"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ipid"
        in: "path"
        description: "the IPId you want to enable monitoring for"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      responses:
        "200":
          description: "\"IP Enabled for monitoring (hits GA as well)\""
          schema:
            $ref: "#/definitions/models.Response"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
    delete:
      tags:
      - "account/integration"
      description: "Disable IP Monitoring for a single IP"
      operationId: "AccountIntegrationRouter.DisableGlockappsIPMonitoring"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ipid"
        in: "path"
        description: "the IPId you want to disable monitoring for"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      responses:
        "200":
          description: "\"IP Disabled for monitoring (hits GA as well - even if that\
            \ fails Sendpost definitely stops monitoring it)\""
          schema:
            $ref: "#/definitions/models.DeleteResponse"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/integration/glockapps/monitor/stat/{ipid}:
    get:
      tags:
      - "account/integration"
      description: "Get Monitored IP Stats"
      operationId: "AccountIntegrationRouter.Get Monitored IP Stats"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ipid"
        in: "path"
        description: "the IPId for which you want monitored stats"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved stats successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.RGlockappsMonitorStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/invitation/:
    get:
      tags:
      - "account/invitation"
      description: "Get All Invitations"
      operationId: "InvitationRouter.GetAll"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      responses:
        "200":
          description: "\"Retrieved all invitations for sub-account successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.Invitation"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
    post:
      tags:
      - "account/invitation"
      description: "Create Invitation"
      operationId: "InvitationRouter.Create"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - in: "body"
        name: "body"
        description: "The Invitation content"
        required: true
        schema:
          $ref: "#/definitions/models.EInvitation"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Invitation Created Successfully\""
          schema:
            $ref: "#/definitions/models.Invitation"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/invitation/{invitationId}:
    delete:
      tags:
      - "account/invitation"
      description: "Delete Invitation"
      operationId: "InvitationRouter.Delete"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "invitationId"
        in: "path"
        description: "The InvitationId you want to delete"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "InvitationId"
      responses:
        "200":
          description: "\"Invitation deleted successfully\""
          schema:
            $ref: "#/definitions/models.DeleteResponse"
        "401":
          description: "Not Authorized"
        "406":
          description: ":invitationId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/ip/:
    get:
      tags:
      - "account/ip"
      description: "Get All IPs"
      operationId: "IPRouter.GetAll"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "offset"
        in: "query"
        description: "offset"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "filterBy"
        in: "query"
        description: "filterBy"
        required: false
        type: "string"
        x-exportParamName: "FilterBy"
        x-optionalDataType: "String"
      - name: "filterValue"
        in: "query"
        description: "filterValue"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "FilterValue"
        x-optionalDataType: "Int64"
      - name: "search"
        in: "query"
        description: "search term"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved all ips for account successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.IP"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/ip/{ipid}:
    get:
      tags:
      - "account/ip"
      description: "Find IP by IPId"
      operationId: "IPRouter.Get"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ipid"
        in: "path"
        description: "the IPId you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      responses:
        "200":
          description: "\"Retrieved IP from ipid successfully\""
          schema:
            $ref: "#/definitions/models.IP"
        "401":
          description: "Not Authorized"
        "406":
          description: ":ipid is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    put:
      tags:
      - "account/ip"
      description: "Update an IP"
      operationId: "IPRouter.Update"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ipid"
        in: "path"
        description: "The IP you want to update"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      - in: "body"
        name: "body"
        description: "The IP Email Provider Settings"
        required: true
        schema:
          $ref: "#/definitions/models.IIP"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"IP updated successfully\""
          schema:
            $ref: "#/definitions/models.IP"
        "401":
          description: "Not Authorized"
        "406":
          description: ":ipid is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    delete:
      tags:
      - "account/ip"
      description: "Delete IP"
      operationId: "IPRouter.Delete"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ipid"
        in: "path"
        description: "The IPId you want to delete"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      responses:
        "200":
          description: "\"IP deleted successfully\""
          schema:
            $ref: "#/definitions/models.DeleteResponse"
        "401":
          description: "Not Authorized"
        "406":
          description: ":ipid is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/ip/{ipid}/incident:
    get:
      tags:
      - "account/ip"
      description: "Get All Incidents associated with a IP"
      operationId: "IPRouter.GetAll IP Incidents"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ipid"
        in: "path"
        description: "The ipid whose incidents you want to retrieve"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      responses:
        "200":
          description: "\"Retrieved all incidents for account successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.Incident"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/ip/allocate:
    post:
      tags:
      - "account/ip"
      description: "Allocate IP To Account"
      operationId: "IPRouter.Allocate IP"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      responses:
        "200":
          description: "\"Allocated IP for account successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.IP"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/ip/count:
    get:
      tags:
      - "account/ip"
      description: "Count Total AccountIPs"
      operationId: "IPRouter.Count"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "filterBy"
        in: "query"
        description: "filterBy"
        required: false
        type: "string"
        x-exportParamName: "FilterBy"
        x-optionalDataType: "String"
      - name: "filterValue"
        in: "query"
        description: "filterValue"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "FilterValue"
        x-optionalDataType: "Int64"
      - name: "search"
        in: "query"
        description: "search term"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Total count of ips for a specific account\""
          schema:
            $ref: "#/definitions/models.CountStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/ip/stat/{ipid}:
    get:
      tags:
      - "account/ip/stat"
      description: "Get All IP Stats"
      operationId: "IPStatRouter.Get All IP Stats"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ipid"
        in: "path"
        description: "the IPId you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      - name: "provider"
        in: "query"
        description: "the provider whose stats you want"
        required: false
        type: "string"
        x-exportParamName: "Provider"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved Stats Successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.RIPStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/ip/stat/{ipid}/aggregate:
    get:
      tags:
      - "account/ip/stat"
      description: "Get All Aggregate Stats"
      operationId: "IPStatRouter.Get All Aggregate IP Stats"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ipid"
        in: "path"
        description: "the IPId you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      - name: "provider"
        in: "query"
        description: "the provider whose stats you want"
        required: false
        type: "string"
        x-exportParamName: "Provider"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved Stats successfully\""
          schema:
            $ref: "#/definitions/models.Stat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/ip/stat/{ipid}/aggregate/provider:
    get:
      tags:
      - "account/ip/stat"
      description: "Get All Aggregate Stats by Provider"
      operationId: "IPStatRouter.Get All Aggregate IP Stats by Provider"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ipid"
        in: "path"
        description: "the IPId you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      - name: "provider"
        in: "query"
        description: "the provider whose stats you want"
        required: false
        type: "string"
        x-exportParamName: "Provider"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved Stats successfully\""
          schema:
            $ref: "#/definitions/models.Stat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/ip/stat/{ipid}/aggregate/providers:
    get:
      tags:
      - "account/ip/stat"
      description: "Get All Aggregated Provider Stats for a IP"
      operationId: "IPStatRouter.Get All Aggregated Provider Stats for a IP"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      - name: "ipid"
        in: "path"
        description: "the IPId you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      responses:
        "200":
          description: "\"Retrieved Stats Successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.PIPStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/ip/stat/{ipid}/aggregate/sid/{sid}/providers:
    get:
      tags:
      - "account/ip/stat"
      description: "Get All Aggregated Provider Stats for a Specific Sub-Account of\
        \ a IP"
      operationId: "IPStatRouter.Get All Aggregated Provider Stats for a Specific\
        \ Sub-Account of a IP"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      - name: "ipid"
        in: "path"
        description: "the IPId you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      - name: "sid"
        in: "path"
        description: "the Sub Account Id you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Sid"
      responses:
        "200":
          description: "\"Retrieved Stats Successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.PIPStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/ip/stat/{ipid}/aggregate/subaccounts:
    get:
      tags:
      - "account/ip/stat"
      description: "Get All Aggregated Sub-Account Stats for an IP"
      operationId: "IPStatRouter.Get All Aggregated Sub-Account Stats for an IP"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      - name: "ipid"
        in: "path"
        description: "the IPId you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      - name: "provider"
        in: "query"
        description: "the provider whose stats you want"
        required: false
        type: "string"
        x-exportParamName: "Provider"
        x-optionalDataType: "String"
      - name: "sortBy"
        in: "query"
        description: "the sorting order"
        required: false
        type: "string"
        x-exportParamName: "SortBy"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved Stats Successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.SIPStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/ippool/:
    get:
      tags:
      - "account/ippool"
      description: "Get All AccountIPPools"
      operationId: "AccountIPPoolRouter.GetAll"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "offset"
        in: "query"
        description: "offset"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "search"
        in: "query"
        description: "search term"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved all ippools for account successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.AccountIPPool"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
    post:
      tags:
      - "account/ippool"
      description: "Create AccountIPPool"
      operationId: "AccountIPPoolRouter.Create"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - in: "body"
        name: "body"
        description: "The AccountIPPool content"
        required: true
        schema:
          $ref: "#/definitions/models.EIPPool"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"AccountIPPool Created Successfully\""
          schema:
            $ref: "#/definitions/models.AccountIPPool"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/ippool/{ippoolid}:
    get:
      tags:
      - "account/ippool"
      description: "Find AccountIPPool by AccountIPPoolId"
      operationId: "AccountIPPoolRouter.Get"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ippoolid"
        in: "path"
        description: "the AccountIPPoolId you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ippoolid"
      responses:
        "200":
          description: "\"Retrieved AccountIPPool from ippoolid successfully\""
          schema:
            $ref: "#/definitions/models.AccountIPPool"
        "401":
          description: "Not Authorized"
        "406":
          description: ":ippoolid is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    put:
      tags:
      - "account/ippool"
      description: "Update AccountIPPool"
      operationId: "AccountIPPoolRouter.Update"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ippoolid"
        in: "path"
        description: "The AccountIPPoolId you want to update"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ippoolid"
      - in: "body"
        name: "body"
        description: "The body"
        required: true
        schema:
          $ref: "#/definitions/models.EIPPool"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Updated AccountIPPool successfully\""
          schema:
            $ref: "#/definitions/models.AccountIPPool"
        "401":
          description: "Not Authorized"
        "406":
          description: ":ippoolid is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    delete:
      tags:
      - "account/ippool"
      description: "Delete AccountIPPool"
      operationId: "AccountIPPoolRouter.Delete"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ippoolid"
        in: "path"
        description: "The AccountIPPoolId you want to delete"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ippoolid"
      responses:
        "200":
          description: "\"AccountIPPool deleted successfully\""
          schema:
            $ref: "#/definitions/models.DeleteResponse"
        "401":
          description: "Not Authorized"
        "406":
          description: ":ippoolid is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/ippool/count:
    get:
      tags:
      - "account/ippool"
      description: "Count Total AccountIPPools"
      operationId: "AccountIPPoolRouter.Count"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      responses:
        "200":
          description: "\"Total count of ippools for a specific account\""
          schema:
            $ref: "#/definitions/models.CountStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/label/:
    get:
      tags:
      - "account/label"
      description: "Get All Labels"
      operationId: "LabelRouter.GetAll"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "type"
        in: "query"
        description: "get all labels type"
        required: true
        type: "string"
        x-exportParamName: "Type_"
      responses:
        "200":
          description: "\"Retrieved all labels for sub-account successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.Label"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
    post:
      tags:
      - "account/label"
      description: "Create Label"
      operationId: "LabelRouter.Create"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - in: "body"
        name: "body"
        description: "The Label content"
        required: true
        schema:
          $ref: "#/definitions/models.Label"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Label Created Successfully\""
          schema:
            $ref: "#/definitions/models.Label"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/label/{labelId}:
    get:
      tags:
      - "account/label"
      description: "Find Label by LabelId"
      operationId: "LabelRouter.Get"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "labelId"
        in: "path"
        description: "the LabelId you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "LabelId"
      responses:
        "200":
          description: "\"Retrieved Label from labelId successfully\""
          schema:
            $ref: "#/definitions/models.Label"
        "401":
          description: "Not Authorized"
        "406":
          description: ":labelId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    put:
      tags:
      - "account/label"
      description: "Update Label"
      operationId: "LabelRouter.Update"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "labelId"
        in: "path"
        description: "The LabelId you want to update"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "LabelId"
      - in: "body"
        name: "body"
        description: "The body"
        required: true
        schema:
          $ref: "#/definitions/models.Label"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Updated Label successfully\""
          schema:
            $ref: "#/definitions/models.Label"
        "401":
          description: "Not Authorized"
        "406":
          description: ":labelId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    delete:
      tags:
      - "account/label"
      description: "Delete Label"
      operationId: "LabelRouter.Delete"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "labelId"
        in: "path"
        description: "The LabelId you want to delete"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "LabelId"
      responses:
        "200":
          description: "\"Label deleted successfully\""
          schema:
            $ref: "#/definitions/models.DeleteResponse"
        "401":
          description: "Not Authorized"
        "406":
          description: ":labelId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/label/count:
    get:
      tags:
      - "account/label"
      description: "Count Total Labels"
      operationId: "LabelRouter.Count"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "type"
        in: "query"
        description: "get all labels type"
        required: true
        type: "string"
        x-exportParamName: "Type_"
      responses:
        "200":
          description: "\"Total count of subaccounts for a specific sub-account\""
          schema:
            $ref: "#/definitions/models.CountStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/mailReport/:
    post:
      tags:
      - "account/mailReport"
      description: "get reputation of domain"
      operationId: "MailReportRouter.MailReport"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - in: "body"
        name: "body"
        description: "The IP Email Provider Settings"
        required: true
        schema:
          $ref: "#/definitions/models.CreateMailReport"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Total count of ips for a specific account\""
          schema:
            $ref: "#/definitions/models.MailReportResult"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/mailReport/{reportId}:
    get:
      tags:
      - "account/mailReport"
      description: "get Providers available"
      operationId: "MailReportRouter.MailReport Get single report"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "reportId"
        in: "path"
        description: "the report id you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ReportId"
      responses:
        "200":
          description: "\"Total count of ips for a specific account\""
          schema:
            $ref: "#/definitions/api.GlockappsMailReport"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/mailReport/provider:
    get:
      tags:
      - "account/mailReport"
      description: "get Providers available"
      operationId: "MailReportRouter.MailReport Providers"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      responses:
        "200":
          description: "\"Total count of ips for a specific account\""
          schema:
            $ref: "#/definitions/models.ProviderResult"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/member/:
    get:
      tags:
      - "account/member"
      description: "Get All Members"
      operationId: "MemberRouter.GetAll"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      responses:
        "200":
          description: "\"Retrieved all members for sub-account successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.Member"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/member/{memberId}:
    get:
      tags:
      - "account/member"
      description: "Find Member by MemberId"
      operationId: "MemberRouter.Get"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "memberId"
        in: "path"
        description: "the MemberId you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "MemberId"
      responses:
        "200":
          description: "\"Retrieved Member from memberId successfully\""
          schema:
            $ref: "#/definitions/models.Member"
        "401":
          description: "Not Authorized"
        "406":
          description: ":memberId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    put:
      tags:
      - "account/member"
      description: "Update Member"
      operationId: "MemberRouter.Update"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "memberId"
        in: "path"
        description: "The MemberId you want to update"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "MemberId"
      - in: "body"
        name: "body"
        description: "The body"
        required: true
        schema:
          $ref: "#/definitions/models.EMember"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Updated Member successfully\""
          schema:
            $ref: "#/definitions/models.Member"
        "401":
          description: "Not Authorized"
        "406":
          description: ":memberId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    delete:
      tags:
      - "account/member"
      description: "Delete Member"
      operationId: "MemberRouter.Delete"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "memberId"
        in: "path"
        description: "The MemberId you want to delete"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "MemberId"
      responses:
        "200":
          description: "\"Member deleted successfully\""
          schema:
            $ref: "#/definitions/models.DeleteResponse"
        "401":
          description: "Not Authorized"
        "406":
          description: ":memberId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/member/{memberId}/verify/email:
    post:
      tags:
      - "account/member"
      description: "Verify Member By Email Request"
      operationId: "MemberRouter.Verify By Email Request"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "memberId"
        in: "path"
        description: "the MemberId who is inviting new member to join the account"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "MemberId"
      - in: "body"
        name: "body"
        description: "The Email to be used to verify"
        required: true
        schema:
          $ref: "#/definitions/models.VerifyByMemberTokenRequest"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "Success Email Verification Link sent"
        "400":
          description: "Bad Request Email and Member don't match or not"
        "401":
          description: "Not Authorized"
        "403":
          description: "Forbidden Already verified"
        "406":
          description: ":memberId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/message/{messageId}:
    get:
      tags:
      - "account/message"
      description: "Find Message By Id"
      operationId: "MessageRouter.Get"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Sub-Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "messageId"
        in: "path"
        description: "the messageId that you want to retrieve"
        required: true
        type: "string"
        x-exportParamName: "MessageId"
      responses:
        "200":
          description: "\"Retrieved Message from MessageStore\""
          schema:
            $ref: "#/definitions/models.QEmailMessage"
        "401":
          description: "Not Authorized"
        "404":
          description: "Message not found"
        "406":
          description: ":messageId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/message/{messageId}/events:
    get:
      tags:
      - "account/message"
      description: "Find all events associated with a message id"
      operationId: "MessageRouter.Get all events for a message id"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "messageId"
        in: "path"
        description: "the messageId that you want to retrieve"
        required: true
        type: "string"
        x-exportParamName: "MessageId"
      responses:
        "200":
          description: "\"Retrieved events for a message id\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.QEvent"
        "401":
          description: "Not Authorized"
        "406":
          description: ":messageId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/message/node/{messageId}:
    get:
      tags:
      - "account/message"
      description: "Find Message from node by specific Id"
      operationId: "MessageRouter.Get message from node"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "messageId"
        in: "path"
        description: "the messageId that you want to retrieve"
        required: true
        type: "string"
        x-exportParamName: "MessageId"
      responses:
        "200":
          description: "\"Retrieved Message from Message Store from a specific node\""
          schema:
            $ref: "#/definitions/models.QEmailMessage"
        "401":
          description: "Not Authorized"
        "404":
          description: "Message not found"
        "406":
          description: ":messageId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/message/node/{messageId}/events:
    get:
      tags:
      - "account/message"
      description: "Find all message events associated with a message id from a specific\
        \ node"
      operationId: "MessageRouter.Get all events for a message id from a node"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "messageId"
        in: "path"
        description: "the messageId that you want to retrieve"
        required: true
        type: "string"
        x-exportParamName: "MessageId"
      responses:
        "200":
          description: "\"Retrieved events for a message id\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.QEvent"
        "401":
          description: "Not Authorized"
        "406":
          description: ":messageId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/onboarding/checklist:
    get:
      tags:
      - "account/onboarding"
      description: "Gets Onboarding Checklist data for account if not present creates\
        \ a default entry"
      operationId: "OnboardingRouter.Get Onboarding Checklist"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      responses:
        "200":
          description: "\"Retrieved checklist for account successfully\""
          schema:
            $ref: "#/definitions/models.OnboardingChecklist"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/payment/customer/coupon:
    post:
      tags:
      - "account/payment"
      description: "Apply Coupon to Stripe Customer"
      operationId: "PaymentRouter.Apply Coupon to Stripe Customer"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - in: "body"
        name: "body"
        description: "Coupon Code Options"
        required: true
        schema:
          $ref: "#/definitions/models.CouponOptions"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "Successfully applied coupon"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/payment/portal:
    post:
      tags:
      - "account/payment"
      description: "Create Customer Portal for account"
      operationId: "PaymentRouter.Create Customer Portal"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      responses:
        "200":
          description: "\"Retrieved stripe billing portal session\""
          schema:
            $ref: "#/definitions/models.BillingPortalSession"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/payment/subscription:
    post:
      tags:
      - "account/payment"
      description: "Create Payment Subscription for Stripe"
      operationId: "PaymentRouter.Create Payment Subscription"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - in: "body"
        name: "body"
        description: "PaymentOptions content"
        required: true
        schema:
          $ref: "#/definitions/models.PaymentOptions"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Return state of payment\""
          schema:
            $ref: "#/definitions/models.PaymentStatus"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/payment/webhook:
    post:
      tags:
      - "account/payment"
      description: "Handle Payment Related Webhooks"
      operationId: "PaymentRouter.Handle Payment Webhook"
      parameters: []
      responses:
        "200":
          description: "Successfully handled webhook"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/recipient/{recipient}/messages:
    get:
      tags:
      - "account/recipient"
      description: "Find all messages sent to a specific recipient"
      operationId: "RecipientRouter.Get all messages for a recipient"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "recipient"
        in: "path"
        description: "email of the recipient"
        required: true
        type: "string"
        x-exportParamName: "Recipient"
      responses:
        "200":
          description: "\"Retrieved messages for a specific recipient\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.QEmailMessage"
        "401":
          description: "Not Authorized"
        "406":
          description: ":recipient is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/recipient/node/{recipient}/messages:
    get:
      tags:
      - "account/recipient"
      description: "Find all message sent to a recipient from a specific node"
      operationId: "RecipientRouter.Get all messages for a recipient from a node"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "recipient"
        in: "path"
        description: "email of the recipient"
        required: true
        type: "string"
        x-exportParamName: "Recipient"
      responses:
        "200":
          description: "\"Retrieved messages for a specific recipient\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.QEmailMessage"
        "401":
          description: "Not Authorized"
        "406":
          description: ":recipient is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/setting/:
    put:
      tags:
      - "account/setting"
      description: "update account settings"
      operationId: "AccountSettingRouter.update"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - in: "body"
        name: "body"
        description: "The account settings to be updated"
        required: true
        schema:
          $ref: "#/definitions/models.EAccountSetting"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Account updated successfully\""
          schema:
            $ref: "#/definitions/models.Account"
        "401":
          description: "Unauthorized"
        "500":
          description: "Internal server error"
  /account/smtp/stat/ip/{ipid}/aggregate:
    get:
      tags:
      - "account/smtp/stat"
      description: "Get All Aggregate IP SMTP Stats"
      operationId: "SMTPStatRouter.Get All Aggregate IP SMTP Stats"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ipid"
        in: "path"
        description: "the IPId you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      - name: "provider"
        in: "query"
        description: "the provider whose stats you want"
        required: false
        type: "string"
        x-exportParamName: "Provider"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved Stats successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.SMTPStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/smtp/stat/ip/{ipid}/provider/{provider}/aggregate:
    get:
      tags:
      - "account/smtp/stat"
      description: "Get All Aggregate IP Provider SMTP Stats"
      operationId: "SMTPStatRouter.Get All Aggregate IP Provider SMTP Stats"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ipid"
        in: "path"
        description: "the IP ID you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      - name: "provider"
        in: "path"
        description: "the provider name"
        required: true
        type: "string"
        x-exportParamName: "Provider"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved Stats successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.SMTPStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/smtp/stat/ip/{ipid}/subaccount/{sid}/aggregate:
    get:
      tags:
      - "account/smtp/stat"
      description: "Get All Aggregate IP SMTP Stats For SubAccount"
      operationId: "SMTPStatRouter.Get All Aggregate IP SMTP Stats For SubAccount"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ipid"
        in: "path"
        description: "the IP ID you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      - name: "sid"
        in: "path"
        description: "the SubAccount ID you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Sid"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      - name: "provider"
        in: "query"
        description: "the provider whose stats you want"
        required: false
        type: "string"
        x-exportParamName: "Provider"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved Stats successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.SMTPStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/smtp/stat/subaccount/{sid}/aggregate:
    get:
      tags:
      - "account/smtp/stat"
      description: "Get All Aggregate SubAccount SMTP Stats"
      operationId: "SMTPStatRouter.Get All Aggregate SubAccount SMTP Stats"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "sid"
        in: "path"
        description: "the Sub-Account ID you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Sid"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      - name: "provider"
        in: "query"
        description: "the provider whose stats you want"
        required: false
        type: "string"
        x-exportParamName: "Provider"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved Stats successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.SMTPStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/smtp/stat/subaccount/{sid}/ip/{ipid}/aggregate:
    get:
      tags:
      - "account/smtp/stat"
      description: "Get All Aggregate SubAccount SMTP Stats For IP"
      operationId: "SMTPStatRouter.Get All Aggregate SubAccount SMTP Stats For IP"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "sid"
        in: "path"
        description: "the Sub-Account ID you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Sid"
      - name: "ipid"
        in: "path"
        description: "the IP  ID you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      - name: "provider"
        in: "query"
        description: "the provider whose stats you want"
        required: false
        type: "string"
[...]
